@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 auto;
    max-width: 1080px;
    width: 100vw;
    align-items: center;
}
.menu-flex{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}
.container-topo{
    align-items: center;
    border: 2px solid black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.logo-cachos img{
    width: 40%;
    object-fit: contain;
    margin-left: 1vw;
}
.container-menu{
    width: 60%;
    font-size: 0.4rem;
    justify-content: space-between;
}

.container-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.container-menu a{
    text-decoration: none;
    color: #AC95BB;
}
.container-menu a:hover{
    color: #9767A9;
    font-weight: bold;
}
.container-form{
    width: 20%;
    height: 25px;
    display: flex;
}

.container-form input{
    border: 2px solid #9767A9;
    border-radius: 25px;
    width: 100%;
    position: relative;
    height: 25px;
    background-image: url("img/Layer_3.svg");
    background-repeat: no-repeat;
    background-position: 3% center;
    background-size: 10%;
}
.container-form ::placeholder{
    color: #9767A9;
    font-size: 0.7rem;
}
.social-media{
    width: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media img{
    height: 25px;
    object-fit: cover;
}
.social-media figure:hover{
    cursor: pointer;
    background-color: #e9dff0;
}
.img-cabeludo{
    position: relative;
}
.img-cabeludo img{
    object-fit: contain;
    width: 100%;
    display: flex;
}
.img-cabeludo h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    width: 30%;
    color: white;
    font-size: 3.5rem;
    line-height: 3rem;
    position: absolute;
    bottom: 30%;
    left: 15%;
}
.img-cabeludo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    position: absolute;
    width:  23%;
    color: white;
    text-align:left;
    font-size: 1.2rem;
    bottom: 35%;
    right: 17%;
}

@media(max-width: 1043px){
    .container-menu{
        width: 65%;
    }
}
@media(max-width: 990px){
    .menu-flex{
        width: 80%;
    }
    .img-cabeludo h1{
        width: 30%;
        bottom: 30%;
        left: 10%;
    }
    .img-cabeludo p{
        width:  23%;
        bottom: 35%;
        right: 10%;
    }
}
@media(max-width: 820px){
    .logo-cachos{
        width: 10%;
    }
    .logo-cachos img{
        width: 80%;
        margin: 0px;
    }
    .menu-flex{
        display: flex;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    .container-menu{
        width: 75%;
        font-size: 0.2rem;
    }
    .container-form{
        width: 12%;
        height: 25px;
    }
    .container-form input{
        height: 15px;
        align-items: center;
    }
    .container-form ::placeholder{
        font-size: 0.2rem;
    }
    .social-media{
        width: 9%;
    }
    .social-media img{
        height: 15px;
    }
    .img-cabeludo h1{
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
    .img-cabeludo p{
        font-size: 1rem;
    }
}
@media(max-width: 620px){
    .img-cabeludo h1{
        width: 40%;
        display: flex;
        top: 10%;
        left: 10%;
    }
    .img-cabeludo p{
        display: flex;
        width: 40%;
        bottom: 20%;
        left: 10%;
    }
    .menu-flex{
        display: none;
    }
    .logo-cachos{
        width: 10%;
    }
    .logo-cachos img{
        width: 70px;
        align-items: center;
    }
    .container-topo{
        background-image: url("img/Menu.svg");
        background-repeat: no-repeat;
        height: 50px;
    }
}
@media(max-width: 480px){
    .img-cabeludo h1{
        font-size: 1.5rem;
        width: 35%;
        line-height: 1.3rem;
    }
    .img-cabeludo p{
        font-size: 0.8rem;
        width: 45%;
        top: 50%;
    }
}